/Tests export-ignore
/phpunit.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/.php-cs-fixer.dist.php export-ignore
/CONTRIBUTING.md export-ignore
/SECURITY.md export-ignore
/.git* export-ignore
/.claude export-ignore
